@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-size: 15px;
  width: 100%;
}
body {
  background-color: hsl(0, 0%, 95%);
}
.layout-container {
  position: relative;
  margin: auto;
  display: flex;
  width: 50%;
  justify-items: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.sedans-card {
  padding: 2em;
  height: 30em;
  border-radius: 5px 0 0 5px;
  background-color: hsl(31, 77%, 52%);
  color: white;
}
.suvs-card {
  padding: 2em;
  height: 30em;
  background-color: hsl(184, 100%, 22%);
  color: white;
}
.luxury-card {
  padding: 2em;
  height: 30em;
  border-radius: 0 5px 5px 0;
  background-color: hsl(179, 100%, 13%);
  color: white;
}
p {
  font-family: Lexend Deca;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  padding-bottom: 25px;
}
.sedans-card button {
  color: hsl(31, 77%, 52%);
}

.suvs-card button {
  color: hsl(184, 100%, 22%);
}

.luxury-card button {
  color: hsl(179, 100%, 13%);
}

button {
  background-color: hsl(0, 0%, 95%);
  letter-spacing: 0.1em;
  padding: 0.5rem 1rem;
  margin-left: 0;
  align-items: center;
  display: inline-flex;
  border-width: 2px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  border-radius: 9999px;
  border-color: transparent;
}

button:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}
h1 {
  font-family: Big Shoulders Display;
  color: hsla(0, 0%, 95%);
  padding: 15px 0px;
}
